body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#areaLogin{
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    margin-top: 70%;
}

#actionMenuList{
    list-style-type: none;
}

#menoresPrecos{
    margin-top: 100px;
}

#menoresPrecos h2{
    width: 100%;
    background-color: lightgray;
    border-radius: 10px;
}
